html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(40, 40, 61);
  color: rgb(147, 224, 147);
}
header {
  text-align: center;
  padding-top: 2em;
  width: 300px;
  margin: auto;
}
h2 {
  margin-top: 3em;
  text-align: center;
  font-size: 3rem;
}
.choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3em;
  width: 300px;
}
.container {
  margin: auto;
  align-content: center;
}
.large {
  font-size: 5rem;
}
.choices div {
  margin: 1em;
  padding: 1em 1.2em;
  font-size: 1.5rem;
  background-color: rgb(147, 224, 147);
  color: rgb(40, 40, 61);
  border-radius: 50%;
  border-color: none;
}
.choices div:hover {
  color: orange;
  background-color: black;
}
.choices div:focus,
.choices div:active {
  outline: none;
  border: none;
}

.result-display {
  width: 320px;
  display: grid;
  font-size: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  text-align: center;
  padding: 1em 1.5em 1.7em 4em;
}
.gamer {
  display: inline-block;
  padding: 2em 0em 2em 0;
}
.orange {
  color: orange;
}
.visible {
  display: inline-block;
  color: orange;
  font-size: 1.5em;
}
.hidden {
  display: inline-block;
  color: rgb(40, 40, 61);
}
